state-machine/parallel.json
{
    "StartAt": "ScatterLambda",
    "States": {
        "ScatterLambda": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:000000000000:function:scatter-lambda",
            "Parameters": {
                "input_obj": "test.json"
            },
            "Next": "ProcessAllSegments"
        },
        "ProcessAllSegments": {
            "Type": "Map",
            "InputPath": "$.segment_definitions",
            "ItemsPath": "$",
            "MaxConcurrency": 200,
            "Iterator": {
                "StartAt": "SegmentLambda",
                "States": {
                    "SegmentLambda": {
                        "Type": "Task",
                        "Resource": "arn:aws:lambda:us-east-1:000000000000:function:segment-lambda",
                        "End": true
                    }
                }
            },
            "ResultPath": "$.segment_results",
            "Next": "GatherLambda"
        },
        "GatherLambda": {
            "Type": "Task",
            "InputPath": "$",
            "Resource": "arn:aws:lambda:us-east-1:000000000000:function:gather-lambda",
            "End": true
        }
    }
}